body {
    margin : 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.top-bar {
    height: 50px;
    background-color: aquamarine;
    right: 0;
    left: 0;
    opacity: 1;
    top: 0;
}

hr {
    width: 10%;
    margin: 5px auto 20px auto;
    border-style: none;
    border-top-style: dotted;
    border-width: 15px;
    color: lightgrey;
}


p {
    margin: 0 0 10px 0;
    padding: 5px;
}

h1 {
    padding-top: 40px;
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    line-height: 1;   
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

.skill-title {
    margin: 20px;
}

span .sub-word {
    text-decoration: none;
    color: #11999E;
    text-shadow: 2px 2px 10px #666;
}

.top-container {
    margin-top: 0;
    background-color: #F7E9D7;
    position: relative;
}

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    position: relative;
    left: 300px;
    top: 50px;
    }

.mid-container {
    width: 100%;  
    padding-top: 30px;
    margin: 0;
    position: relative;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #666;
}

.skill-container {
    display: flex;
    justify-content: center;
}

.skill-container div {
    width: 200px;
}

.skill-container img {
    width: 150px;
    height: 150px;
    border-radius: 30%;

}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}


.img-skill-1 {
    width: 25%;
    float: left;
    padding: 0 30px 0 0 ;
    border-radius: 50%;
}

.img-skill-2 {
    width: 25%;
    float: right;
    border-radius: 50%;

}
.btn {
    background: #bd34d9;
    background-image: -webkit-linear-gradient(top, #bd34d9, #e0db41);
    background-image: -moz-linear-gradient(top, #bd34d9, #e0db41);
    background-image: -ms-linear-gradient(top, #bd34d9, #e0db41);
    background-image: -o-linear-gradient(top, #bd34d9, #e0db41);
    background-image: linear-gradient(to bottom, #bd34d9, #e0db41);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #9c3cfc;
    background-image: -webkit-linear-gradient(top, #9c3cfc, #0b0d01);
    background-image: -moz-linear-gradient(top, #9c3cfc, #0b0d01);
    background-image: -ms-linear-gradient(top, #9c3cfc, #0b0d01);
    background-image: -o-linear-gradient(top, #9c3cfc, #0b0d01);
    background-image: linear-gradient(to bottom, #9c3cfc, #0b0d01);
    text-decoration: none;
  }

.bottom-container {
    height: 80px;
    width: 100%;
    background-image: linear-gradient(to bottom right, aquamarine, magenta);
    box-shadow: -10px 10px 30px #666;
    margin: 20px 0 0 0;
    opacity: .7;
  
}

.bottom-container img {
    height: 30px;
    width: 30px;
    padding: 0 10px 0 10px;
    margin: 10px auto 0 auto ;  
}

.footer-x {
    line-height: 2;
    color: #11999E;

}

